@(title: String,id: Long,itm: Category)
@main(title){
    <form name="frmLogin" id="frmLogin" method="POST" action="/editdetails" class="form-registration">
      <div class="container">
        <h2>Category Section</h2>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label class="control-label" for="categoryCode">Category Code:</label>
              <input type="text" value="@itm.categoryCode" class="form-control" name="categoryCode" id="categoryCode" placeholder="Enter CategoryCode">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label class="control-label" for="categoryName">Category Name:</label>
              <input type="text" value="@itm.categoryName"class="form-control" name="categoryName" id="categoryName" placeholder="Enter Category Name">
              <input type="hidden" value="@itm.id"class="form-control" name="categoryId" id="categoryId">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label class="control-label" for="comments">Comments:</label>
              <textarea value="@itm.comments" class="form-control" name="comments" id="comments" placeholder="Enter Comments"> </textarea>
            </div>
          </div>
        </div>

        <div class="btn-group">
          <button type="submit" class="btn btn-success btn-sm"> Submit </button>
        </div>
      </div>
    </form>
}