@(title: String,category: Category)
@main(title) {
  <div class="container">

    <h2>
      Item Data
    </h2>
    <a href="/categorypage" class="btn btn-info btn-sm pull-right"><i class="glyphicon glyphicon-plus"> Add</i></a>
    <table class="table table-striped">
      <thead>
        <th>Item Code </th>
        <th>Item Description</th>
        <th>Category Code</th>
        <th>Category Decsription</th>
        <th>Edit</th>
        <th>Delete</th>
      </thead>

      <tbody>
      @for(items <- Items.getAllItems()) {
        <tr>
          <td>
          @items.itemCode
          </td>
          <td>
          @items.itemName
          </td>
          <td>
          @Category.findbyCategoryId(category.id).categoryCode
          </td>
          <td>
          @Category.findbyCategoryId(category.id).categoryName
          </td>
          <td>
            <a class="btn btn-info btn-sm" href="@routes.Application.viewDetails(category.id)"> Edit</a>
          </td>
          <td>
            <a class="btn btn-danger btn-sm" href="@routes.Application.delItm(category.id)">Delete</a>
          </td>
        </tr>
      }

      <tbody>

      </tbody>
    </table>
  </div>
}